.chat-post {
  /*max-width: 60%;*/
  width: 60% !important;
}

.chat-post.right {
  margin-left: auto !important;
}

.chat-post .meta {
  display: flex !important;
}

.chat-post .edit-actions {
  margin-left: auto !important;
}

.chat-post .edit-actions .icon {
  margin-right: 20px;
}

.like.liked .icon {
  color: #ff2733 !important;
}

.like.liked:hover .icon {
  color: rgba(0, 0, 0, 0.5) !important;
}
